@import "tailwindcss";

@font-face {
  font-family: "Bitstream Charter";
  src: url("../Font/Charter Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@theme {
  --font-sans: "Bitstream Charter", Charter, Georgia, serif;
  --font-serif: "Bitstream Charter", Charter, Georgia, serif;
  
  --color-brand-bg: #F9F8F6;
  --color-brand-text: #121212;
  --color-brand-accent: #E63946;
}
